{% include 'header.html' %}
<body>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">

      <div class="card shadow-lg p-4">
        <h3 class="text-center mb-4">Iniciar Sesión</h3>

        <form action="/login" method="POST">

          <div class="mb-3">
            <label for="inputUserName" class="form-label">Nombre de Usuario</label>
            <input type="text" class="form-control" name="inputUserName" aria-describedby="UserNameHelp">
          </div>

          <div class="mb-3">
            <label  for="inputPassword" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="inputPassword">
          </div>

          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="checkRemember">
            <label class="form-check-label" for="checkRemember">Recuérdame</label>
          </div>

          <div class="d-grid gap-2">
             <button type="submit" class="btn btn-primary">Entrar</button>
          </div>

        </form>

        <div class="text-center mt-3">
            <a href="#" class="text-decoration-none">¿Olvidaste tu contraseña?</a>
        </div>
      </div>
        <div class="text-center mt-3">
            <p class="text-muted mb-0">¿Primera vez en Potro Crew? <a href="/test" class="text-decoration-none">Crea una cuenta</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
  <script src="../static/js/plugins.js"></script>
  <script src="../static/js/theme.js"></script>
</body>

</html>